[user]
name = Christian Kjærulff Brostrøm
email = 2435832+cbrostrom@users.noreply.github.com
[core]
autocrlf = input
excludesfile = ~/.gitignore_global
pager = delta
[interactive]
diffFilter = delta --color-only
[delta]
navigate = true
light = false
side-by-side = true
line-numbers = true
[init]
defaultBranch = main
[alias]
dotfiles = !git --git-dir=$HOME/dotfiles/ --work-tree=$HOME
